.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn {
  width: 50px;
  height: 50px;
  color: black;
}

.displayBox {
  background-color: white;
  color: black;
  width: 300px;
  height: 100px;
  text-align: right;
}

#equation {
  font-size: 16px;
}

button[type="delete"] {
  background-color: red;
}

button[type="action"] {
  background-color: lightblue;
}